<script>
export default {
  name: "MyHeader",
  data: function data() {
    return {
      settings: [
        {title: 'Perfil'},
        {title: 'Ajuda'},
        {title: 'Sair'}
      ]
    }
  },
  methods: {
   toggle() {
      this.$emit('toggle')
    }
  }
}
</script>

<template>
  <div id="MyHeader">
    <header>
      <v-toolbar class="green darken-1">
        <v-toolbar-side-icon class="hidden-lg-and-up" @click.native.stop="toggle" />
        <v-toolbar-logo>SAAPA</v-toolbar-logo>
        <v-btn icon><v-icon>notifications</v-icon></v-btn>
        <v-menu offset-y>
      <v-btn icon slot="activator"><v-icon>settings</v-icon></v-btn>
      <v-list>
        <v-list-item v-for="item in settings" :key="item">
          <v-list-tile>
              <v-list-tile-avatar>
                  <v-icon class="pink--text">settings</v-icon>
              </v-list-tile-avatar>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list-item>
      </v-list>
    </v-menu>
      </v-toolbar>
    </header>
  </div>
</template>

<style>
</style>
