<template>
  <div id="MySideBar">
    <v-sidebar height="auto" class="grey lighten-4" v-model="isOpen">
      <v-list dense>
        <v-list-item v-for="item in items" key="item">
          <v-list-tile >
            <v-list-tile-avatar>
                <v-icon class="pink--text">{{item.avatar}}</v-icon>
            </v-list-tile-avatar>
              <router-link class="list__item pink--text" :to="{name: item.router}" exact>
            <v-list-tile-content>
              {{item.title}}
          </v-list-tile-content>
          </router-link>
          </v-list-tile>
        </v-list-item>
      </v-list>
    </v-sidebar>
  </div>
</template>
<script>
export default {
  name: "MySideBar",
  props: {
    isOpen: {type: Boolean, required: true},
    items: {title:String,router:String,avatar:String}
  }
}
</script>
<style>
</style>
