<template>
<div class="auth">
  <header>
    <h2>SAD</h2>
    <p>Sistema Acadêmico Distribuido</p>
  </header>
  <Login></Login>
</div>
</template>
<script>
import { mapGetters } from 'vuex'
import Login from './form/Login.vue'
export default {
  name: "auth",
  computed: {
    ...mapGetters(['isLogged'])
  },
  components: {
    Login
  },
  data: function data() {
    return {

    }
  }
}
</script>
<style>
h2,p{
  text-align: center;
  color: hsla(120, 20%, 90%, 0.63);
  font-size: 4em;
  }

body{
  background-color: rgb(20, 158, 71);
}
</style>
