<template>
  <div id="form-login-user">
    <v-container fluid>
  <v-row>
    <v-col xs12 md6 offset-md3>
      <v-card>
        <v-toolbar class="teal darken-4">
          <v-toolbar-title>Formulário de Login</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <span class="title">Personal Info</span>
          <v-text-field
            label="Nome de Usuário"
            class="mt-5"
            required
            v-model="user.email"
          />
            <v-text-field
            label="Senha"
            hint="Senha icorreta"
            persistent-hint
            required
            type="password"
            v-model="user.password"
          />
      </v-card-text>
        <v-btn type="submit" class="btn teal darken-4 primary" v-on:click.native="doLogin" :disabled="!isValid">Enviar</v-btn>
        </v-card>
    </v-col>
  </v-row>
</v-container>
  </div>
</template>
<script>
import {isEmpty} from 'lodash'
export default {
  name: "form-login-user",
data() {
    return {
      user: {
        email: '',
        password:''
      }
    }
  },
  computed: {
    isValid (){
      const user = this.user
      return !isEmpty(user.email) && !isEmpty(user.password)
    }
  },
    methods: {
    doLogin (){
      console.log('oi');
      this.$router.push('/')
    }
  }
}
</script>
<style>
.v-card{
  color: rgb(140, 84, 173);
}
</style>
