<template>
<router-view>

</router-view>
</template>
<script>
import http from './http'
export default {
  name: "",
/*mounted() {
  http.get(`http://pokeapi.co/api/v2/pokemon/1/`)
     .then(response => {
       console.log(response);
     })
     .catch(e => {
       this.errors.push(e)
     })
}*/
}
</script>
<style>
</style>
