<template>
  <div>
    <v-app id="sidebar-example-1" class="elevation-1" top-toolbar left-sidebar>
  <header>
    <v-toolbar class="green darken-1">
      <v-toolbar-side-icon class="hidden-lg-and-up" @click.native.stop="sidebar = !sidebar" />
      <v-toolbar-logo>SAAPA</v-toolbar-logo>
      <v-btn icon><v-icon>notifications</v-icon></v-btn>
      <v-menu offset-y>
    <v-btn icon slot="activator"><v-icon>settings</v-icon></v-btn>
    <v-list>
      <v-list-item v-for="item in settings" :key="item">
        <v-list-tile>
            <v-list-tile-avatar>
                <v-icon class="pink--text">settings</v-icon>
            </v-list-tile-avatar>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list-item>
    </v-list>
  </v-menu>
    </v-toolbar>
  </header>
  <main>
    <v-sidebar height="auto" class="grey lighten-4" v-model="sidebar">
      <v-list dense>
        <v-list-item v-for="item in items" key="item.id">
          <v-list-tile >
            <v-list-tile-avatar>
                <v-icon class="pink--text">{{item.avatar}}</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
                <router-link class="btn pink--text" :to="item.router">{{item.title}}</router-link>
          </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
      </v-list>
    </v-sidebar>
    <v-content>
      <v-container fluid>
        <router-view>
        </router-view>
      </v-container>
    </v-content>
  </main>
</v-app>
  </div>
</template>

<script>
export default {
  name: "root",
  components: {
//    MyHeader,MySideBar
  },
  data: function data() {
    return {
      items: [
        {title: 'Materias',avatar:'date_range',router:'mensalidade'},
        {title: 'Boletim',avatar:'school',router:'/dashboard/professor/notas'},
        {title: 'Grupo',avatar:'face',router:'professor'}
            ],
      settings: [
        {title: 'Perfil'},
        {title: 'Ajuda'},
        {title: 'Sair'}
      ],sidebar:""
      }
    }
  }

</script>


<style>

</style>
