<template>
  <v-card>
    <v-card-title>Aluno
      <v-spacer></v-spacer>
  <v-text-field append-icon="search"  label="Search" single-line hide-details></v-text-field>
    </v-card-title>
  <v-data-table
      v-bind:headers="headers"
     v-model="items"
     class="elevation-1"
     no-data-text="Não existe nenhum dado na tabela"
     select-all
  >
  <template slot="items" scope="props">
    <v-checkbox
      hide-details
      primary
      v-model="props.item.value"
    ></v-checkbox>
  </td>
    <td>{{ props.item.name }}</td>
     <td class="text-xs-right">{{ props.item.calories }}</td>
     <td class="text-xs-right">{{ props.item.fat }}</td>
     <td class="text-xs-right">{{ props.item.carbs }}</td>
     <td class="text-xs-right">{{ props.item.protein }}</td>
     <td class="text-xs-right">{{ props.item.sodium }}</td>
     <td class="text-xs-right">{{ props.item.calcium }}</td>
     <td class="text-xs-right">{{ props.item.iron }}</td>
  </template>
  </v-data-table>
  </v-card>
</template>


<script>
export default {
  name: "",
  data: function data() {
    return {
      headers: [
 {
   text: 'Nome Aluno',
   left: true,
   sortable: false,
   value: 'name'
 },
 { text: 'Calories', value: 'calories' }
],
items: [
 {
   value: false,
   name: 'Frozen Yogurt',
   calories: 159,
   fat: 6.0,
   carbs: 24,
   protein: 4.0,
   sodium: 87,
   calcium: '14%',
   iron: '1%'
 },
 {
   value: false,
   name: 'Ice cream sandwich',
   calories: 237,
   fat: 9.0,
   carbs: 37,
   protein: 4.3,
   sodium: 129,
   calcium: '8%',
   iron: '1%'
 },
 {
   value: false,
   name: 'Ice cream sandwich',
   calories: 237,
   fat: 9.0,
   carbs: 37,
   protein: 4.3,
   sodium: 129,
   calcium: '8%',
   iron: '1%'
 }
]
    }
  }
}
</script>
<style>
.card{
  margin: 20px;
}
</style>
