<template>
  <div id="Admisnistrador">
    <v-app id="sidebar-example-1" class="elevation-1" top-toolbar>
<MyHeader v-on:toggle="onToggleMenu"></MyHeader>
<MySideBar :isOpen="isOpen" :items="items"></MySideBar>
  <main>
    <v-content>
      <v-container fluid>
        </v-container>
    </v-content>

  </main>
</v-app>

  </div>
</template>

<script>
import MyHeader from '../../layouts/MyHeader.vue'
import MySideBar from '../../layouts/MySideBar.vue'
export default {
  name: "Admisnistrador",
  components: {
MyHeader,MySideBar
  },
  data: function data() {
    return {
      isOpen:false,
      items: [
        {title: 'Mensalidade',avatar:'date_range',router:''},
        {title: 'Aluno',avatar:'school',router:'dashboard.admisnistrador.aluno'},
        {title: 'Professor',avatar:'face',router:''},
        {title: 'Turmas',avatar:'class',router:''},
        {title: 'Disciplinas',avatar:'content_paste',router:''},
        {title: 'Aniversariantes',avatar:'mood',router:''}
      ]
      }
    },
    methods: {
      onToggleMenu(){
        this.isOpen = !this.isOpen
      }
    }
  }

</script>


<style>

</style>
